/*  Name: index.css
 *  Author: Zihan Ye
 *  Description: style sheets for main page
 */

html{ 
    background: #00090C; 
}

body{
    margin: 0;
}

.block{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}